
<section>

    <nav id="menu">
        <ul>
         <li class="pri"><a href="#">Section 1</a></li>
         <li class="seg"><a href="#">Section 2</a></li>
         <li class="ter"><a href="#">Section 3</a></li>
         <li class="cua"><a href="#">Section 4</a></li>
         <li class="qui"><a href="#">Section 5</a></li>
        </ul>
        </nav>
<aside>
    <div class="wrapper">
       <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li class="home"><a href="#">Home</a></li>
            <li class="money"><a href="#">Money</a></li>
            <li class="notification"><a href="#">Notificaciones</a></li>
        </ul>
       </div>
    </div>
</aside>
</section>
