<app-header></app-header>
<form class="formulario">
  <h1>Registrate</h1>
  <div class="contenedor">
      <div class="input-contenedor">
          <i class="fa-solid fa-person icon"></i>
          <input type="text" placeholder="Nombre Completo">
      </div>

      <div class="input-contenedor ">
          <i class="fa-solid fa-envelope icon "></i>
          <input type="text" placeholder="Correo Electronico">
      </div>

      <div class="input-contenedor">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" placeholder="Contraseña">
      </div>

      <input type="button" value="Registrate" class="button" routerLink="/profiling">

      <p>Al registrarte aceptas nuestras condiciones de uso y politicas de privacidad</p>
      <p>¿ya tienes cuenta? <a class="link" routerLink="/login">Inicia sesión</a></p>
  </div>
</form>
<app-footer></app-footer>
